.info-card{
    padding: 0 5px;
    
}
.info-primary{
    background-color: #440bca;
}
.info-dark{
    background-color:#124ee7;
}
.info-container{
    height: 100px;
    padding:30px;
}
.info-icon{
    font-size: 3em;
}